
</div>
<div class="footer-padding"></div>
  <div class="footer">

      <i class="far fa-envelope footerItem"></i>
      <p class="footerItem">&copy; Danny Laney 2020</p>
      <i class="fab fa-linkedin footerItem"></i>

  </div>
</div>
</body>
</html>
